<aside class="app-related govuk-!-display-none-print" role="complementary">
  <h2 class="govuk-heading-s govuk-!-margin-bottom-2" id="related-links-title">Related links</h2>
  <nav role="navigation" aria-labelledby="related-links-title">
    <ul class="app-related__list">
    {% for item in relatedLinks %}
      <li class="app-related__list-item">
        <h3 class="app-related__list-item-title">
          <a class="govuk-link" href="{{ item.href }}">{{ item.text }}</a>
        </h3>
        {% if item.description %}
          <p class="app-related__list-item-description">{{ item.description | markdown("inline") | safe }}</p>
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  </nav>
</aside>
